.gradle
build
local.properties
captures
.externalNativeBuild
.cxx
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/markdown.xml
.idea/renderers.xml
.idea/compiler.xml
.idea/inspectionProfiles
.idea/runConfigurations.xml
.idea/migrations.xml
.idea/AndroidProjectSystem.xml
.idea/modules
.idea/kotlinc.xml
.idea/copyright
.idea/scopes
.idea/dictionaries
.idea/shelf
.idea/sonarlint
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/deviceManager.xml
.idea/planningMode.xml
/shelf/
/workspace.xml
*.hprof
